/* ------------ CUSTOM PROPERTIES ------------- */

:root {
  /* Colors */
  --cl-black: 0, 0%, 5%;
  --cl-white: 0 0% 100%;
  --cl-bg-recent-articles: 0, 0%, 98%;
  --cl-nav-btn: 0, 0%, 4%;
  --cl-article-title: 0, 0%, 8%;
  --cl-article-body: 0, 0%, 31%;
  --cl-page-title: 0, 0%, 93%;
  --cl-copyright: 0, 0%, 84%;
  --cl-bg-footer: 0, 0%, 13%;

  /* Font families */
  --ff-roboto: "Roboto", sans-serif;
  --ff-source-sans-pro: "Source Sans Pro", sans-serif;
}

/* RESET */
/* CSS Reset https://andy-bell.co.uk/a-modern-css-reset/ */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Set up body */

body {
  min-height: 100vh;
  line-height: 1.5;
  color: hsl(var(--cl-black));
  font-family: var(--ff-source-sans-pro);
  font-weight: 400;
}

/* Make images easier to work with */

img {
  width: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* ---------------- UTILITY CLASSES ------------------*/

.container {
  max-width: 414px;
  /* !Delete when it's ready */

  width: 100%;
  margin: 0 auto;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
}

/* @media (width >= 768px) {
  .container {
    padding: 0 3.3125rem;
  }
} */

.uppercase {
  text-transform: uppercase;
}

.rounded {
  border-radius: 0.25rem;
}

/* ----------------- TYPOGRAPHY ------------------- */

/* Home page */

h1,
h2,
.page-title,
.post-title {
  line-height: 1.08;
}

h1 {
  font-family: var(--ff-roboto);
  font-size: 0.875rem;
}

/* @media (width >= 768px) {
  h1 {
    font-size: 1.25rem;
  }
} */

h2 {
  color: hsl(var(--cl-article-title));
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
}

.featured-article-date,
.page-title,
.copyright {
  font-size: 0.75rem;
}

/* @media (width >= 768px) {
  .featured-article-date {
    font-size: 1rem;
  }
} */

.featured-article-body,
.recent-article-body,
.copyright {
  line-height: 1.25;
}

.recent-article-body {
  color: hsl(var(--cl-article-body));
}

.recent-article-date,
.post-date {
  font-size: 0.875rem;
}

.page-title {
  color: hsl(var(--cl-page-title));
  font-weight: 700;
}

.copyright {
  color: hsl(var(--cl-copyright));
}

/* Post page */

.post-title {
  font-size: 2rem;
}

span {
  font-weight: 700;
}



/* --------------- NAVIGATION ---------------------- */

nav {
  font-size: 0.75rem;
}

/* @media (width >= 768px) {
  nav {
    font-size: 1rem;
  }
} */

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

/* @media (width >= 768px) {
  nav ul{
    gap: 3rem;
  }
} */

/* ---------------- LINKS ------------------------- */

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

nav a {
  color: hsl(var(--cl-nav-btn));
  font-weight: 600;
}

nav a:hover,
nav a:focus,
nav a:active {
  border-bottom: 1px solid hsl(var(--cl-nav-btn));
}

.featured-article a {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.08;
}

/* @media (width >= 768px) {
  .featured-article a {
    font-size: 2.5rem;
  }
} */

.featured-article a:hover,
.featured-article a:focus,
.featured-article a:active {
  font-size: 2.125rem;
}

/* @media (width >= 768px) {
  .featured-article a:hover,
  .featured-article a:focus,
  .featured-article a:active {
    font-size: 2.75rem;
  }
} */

/* ---------------- LAYOUT -------------------- */

/* Home page */

header .container {
  padding: 1em 1.5em 1.125em 1.25em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* @media (width >= 768px) {
  header .container {
    padding: 1.5em 3.3125em;
  }
} */

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 0.1875rem;
}

/* @media (width >= 768px) {
  .logo-wrapper {
    gap: 0.3125rem;
  }
} */

.logo {
  width: 1.4775rem;
  height: 1.4775rem;
}

/* @media (width >= 768px) {
  .logo {
    width: 2.125rem;
    height: 2.125rem;
  }
} */

.home .featured-article .container {
  color: hsl(var(--cl-white));
  text-shadow: 1px 1px 2px hsl(var(--cl-black));
  min-height: 18.375rem;
  justify-content: end;

  background-image: url(../images/article-images/featured-article-bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsl(var(--cl-bg-footer));
}

/* @media (width >= 768px) {
  .featured-article .container {
    min-height: 30.5rem;
  }
} */

.home .featured-article-title,
.recent-article-title {
  padding: 0.5rem 0;
}

/* @media (width >= 768px) {
  .featured-article-title {
    padding: .5625rem 0;
  }
} */

/* @media (width >= 768px) {
  .recent-article-title {
    padding: .875rem 0 .5625rem;
  }
} */

.home .featured-article-body {
  max-width: 37.5rem;
  padding-bottom: 1.625rem;
}

/* @media (width >= 768px) {
  .featured-article-body {
    padding-bottom: 3.75rem;
  }
} */

.featured-article-date,
.recent-article-date {
  order: -1;
}

.recent-articles .container {
  gap: 2.625rem;
}

.home .recent-articles .container {
  padding: 2.125rem 1.25rem 3.5rem;
}

.recent-articles article {
  display: flex;
  flex-direction: column;
}

.recent-article-img {
  margin-bottom: 0.875rem;
  order: -2;
  height: 14.5rem;
}

/*
.view-more-btn {
  background: none;
  border: none;
  border-bottom: 1px solid hsl(var(--cl-black));
  color: hsl(var(--cl-black));
  font-weight: 700;
  display: block;
  margin: 0 auto;
  padding: 0;
  text-transform: capitalize;
  cursor: pointer;
} */

footer {
  background-color: hsl(var(--cl-bg-footer));
  padding: 2.25rem 0;
}

footer .container {
  justify-content: center;
  align-items: center;
}

/* Post page */

.post .featured-article .container{
  margin: 1.5rem auto 3.25rem auto;
}

.post .featured-article-title {
  margin: 1rem 0;
}

.post .featured-article-img {
  margin: 2.25rem 0;
}

.recent-articles-title {
  text-align: center;
}

.post .recent-articles .container {
  padding: 1.75rem 1.25rem 3.5rem;
}