/* ------------ CUSTOM PROPERTIES ------------- */

:root {
  /* Colors */
  --cl-black: 0, 0%, 5%;
  --cl-white: 0 0% 100%;
  --cl-nav-btn: 0, 0%, 4%;
  --cl-article-title: 0, 0%, 8%;
  --cl-article-body: 0, 0%, 31%;
  --cl-page-title: 0, 0%, 93%;
  --cl-copyright: 0, 0%, 84%;
  --cl-bg-footer: 0, 0%, 13%;

  /* Font families */
  --ff-roboto: "Roboto", sans-serif;
  --ff-source-sans-pro: "Source Sans Pro", sans-serif;
}

/* RESET */
/* CSS Reset https://andy-bell.co.uk/a-modern-css-reset/ */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Set up body */

body {
  min-height: 100vh;
  /* line-height: 1.5; */
  color: hsl(var(--cl-black));
  background-color: hsl(var(--cl-white));
  font-family: var(--ff-source-sans-pro);
  font-weight: 400;
}

/* Make images easier to work with */

img {
  max-width: 100%;
  display: block;
}

/* ---------------- UTILITY CLASSES ------------------*/

.container {
  width: 100%;
  max-width: 26.5625rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
}

.uppercase {
  text-transform: uppercase;
}

.rounded {
  border-radius: 0.25rem;
}

/* ----------------- TYPOGRAPHY ------------------- */

h1,
h2,
.page-title {
  line-height: 1.08;
}

h1 {
  font-family: var(--ff-roboto);
  font-size: 0.875rem;
}

h2 {
  color: hsl(var(--cl-article-title));
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
}

.featured-article-date,
.page-title,
.copyright {
  font-size: 0.75rem;
}

.recent-article-body {
  color: hsl(var(--cl-article-body));
  line-height: 1.25;
}

.recent-article-date {
  font-size: 0.875rem;
}

.page-title {
  color: hsl(var(--cl-page-title));
  font-weight: 700;
}

.copyright {
  color: hsl(var(--cl-copyright));
  line-height: 1.25;
}

/* --------------- NAVIGATION ---------------------- */

nav {
  font-size: 0.75rem;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

/* ---------------- LINKS ------------------------- */

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

nav a {
  color: hsl(var(--cl-nav-btn));
  font-weight: 600;
}

nav a:hover,
nav a:focus,
nav a:active {
  border-bottom: 1px solid hsl(var(--cl-nav-btn));
}

.featured-article a {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.08;
}

.featured-article a:hover,
.featured-article a:focus,
.featured-article a:active {
  font-size: 2.125rem;
}

/* ---------------- LAYOUT -------------------- */

header .container {
  padding: 1rem 1.5rem 1.125rem 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 0.1875em;
}

.logo {
  width: 1.4775em;
  height: 1.4775em;
}

.featured-article .container {
  color: hsl(var(--cl-white));
  text-shadow: 1px 1px 2px hsl(var(--cl-black));
  min-height: 18.375rem;
  justify-content: end;

  background-image: url(../images/article-images/featured-article-bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsl(var(--cl-black));
}

.featured-article-title,
.recent-article-title {
  padding: 0.5rem 0;
}

.featured-article-body {
  padding-bottom: 1.625rem;
}

.featured-article-date,
.recent-article-date {
  order: -1;
}

.recent-articles .container {
  padding: 2.125rem 1.25rem 3.5rem;
  gap: 2.625rem;
}

.recent-articles article {
  display: flex;
  flex-direction: column;
}

.recent-article-img {
  margin-bottom: 0.875rem;
  order: -2;
}

/*
.view-more-btn {
  background: none;
  border: none;
  border-bottom: 1px solid hsl(var(--cl-black));
  color: hsl(var(--cl-black));
  font-weight: 700;
  display: block;
  margin: 0 auto;
  padding: 0;
  text-transform: capitalize;
  cursor: pointer;
} */

footer {
  background-color: hsl(var(--cl-bg-footer));
  padding: 2.25rem 0;
}

footer .container {
  justify-content: center;
  align-items: center;
}