/* ------------ CUSTOM PROPERTIES ------------- */

:root {
  /* Colors */
  --cl-black: 0, 0%, 5%;
  --cl-white: 0 0% 100%;
  --cl-bg-recent-articles: 0, 0%, 98%;
  --cl-nav-btn: 0, 0%, 4%;
  --cl-article-title: 0, 0%, 8%;
  --cl-article-body: 0, 0%, 31%;
  --cl-page-title: 0, 0%, 93%;
  --cl-copyright: 0, 0%, 84%;
  --cl-bg-footer: 0, 0%, 13%;

  /* Font families */
  --ff-roboto: "Roboto", sans-serif;
  --ff-source-sans-pro: "Source Sans Pro", sans-serif;
}

/* RESET */
/* CSS Reset https://andy-bell.co.uk/a-modern-css-reset/ */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Set up body */

body {
  min-height: 100vh;
  line-height: 1.5;
  color: hsl(var(--cl-black));
  font-family: var(--ff-source-sans-pro);
  font-weight: 400;
}

/* Make images easier to work with */

img {
  width: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* ---------------- UTILITY CLASSES ------------------*/

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1.25rem;
  max-width: 75rem;

  display: flex;
  flex-direction: column;
}

.uppercase {
  text-transform: uppercase;
}

.rounded {
  border-radius: 0.25rem;
}

/* ----------------- TYPOGRAPHY ------------------- */

/* Home page */

h1,
h2,
.page-title {
  line-height: 1.08;
}

h1 {
  font-family: var(--ff-roboto);
  font-size: 0.875rem;
}

@media (768px <= width < 1085px) {
  h1 {
    font-size: 1rem;
  }
}

@media (width >= 1085px) {
  h1 {
    font-size: 1.25rem;
  }
}

h2 {
  color: hsl(var(--cl-article-title));
  font-size: 1.5rem;
  font-weight: 700;
}

@media (768px <= width < 1085px) {
  .post .featured-article h2 {
    font-size: 1.875rem;
  }
}

@media (width >= 1085px) {
  .post .featured-article h2 {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1rem;
  font-weight: 700;
}

.featured-article-date,
.page-title,
.copyright {
  font-size: 0.75rem;
}

@media (768px <= width < 1085px) {
  .featured-article-date {
    font-size: .875rem;
  }
}

@media (width >= 1085px) {
  .featured-article-date {
    font-size: 1rem;
  }
}

.featured-article-lead,
.featured-article-body,
.recent-article-body,
.copyright {
  line-height: 1.25;
}

.recent-article-body {
  color: hsl(var(--cl-article-body));
}

.recent-article-date {
  font-size: 0.875rem;
}

.page-title {
  color: hsl(var(--cl-page-title));
  font-weight: 700;
}

.copyright {
  color: hsl(var(--cl-copyright));
}

/* About page */

.about h2 {
  font-size: 2.1775rem;
}

/* --------------- NAVIGATION ---------------------- */

nav {
  font-size: 0.75rem;
}

@media (768px <= width < 1085px) {
  nav {
    font-size: 0.875rem;
  }
}

@media (width >= 1085px) {
  nav {
    font-size: 1rem;
  }
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

@media (768px <= width < 1085px) {
  nav ul {
    gap: 2rem;
  }
}

@media (width >= 1085px) {
  nav ul {
    gap: 2.5rem;
  }
}

/* ---------------- LINKS ------------------------- */

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

nav a {
  color: hsl(var(--cl-nav-btn));
  font-weight: 600;
}

nav a:hover,
nav a:focus,
nav a:active {
  border-bottom: 1px solid hsl(var(--cl-nav-btn));
}

.featured-article a {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.08;
}

@media (768px <= width < 1085px) {
  .featured-article a {
    font-size: 2.25rem;
  }
}

@media (width >= 1085px) {
  .featured-article a {
    font-size: 2.5rem;
  }
}

.featured-article a:hover,
.featured-article a:focus,
.featured-article a:active {
  font-size: 2.125rem;
}

@media (768px <= width < 1085px) {
  .featured-article a:hover,
  .featured-article a:focus,
  .featured-article a:active {
    font-size: 2.375rem;
  }
}

@media (width >= 1085px) {
  .featured-article a:hover,
  .featured-article a:focus,
  .featured-article a:active {
    font-size: 2.625rem;
  }
}

/* ---------------- LAYOUT -------------------- */

/* Header */

header .container {
  max-width: 100%;
  padding: 1rem 1.5rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (768px <= width < 1085px) {
  header .container {
    padding: 1.25rem 2rem;
  }
}

@media (width >= 1085px) {
  header .container {
    padding: 1.75rem 3.25rem;
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 0.1875rem;
}

@media (width >= 1085px) {
  .logo-wrapper {
    gap: 0.3125rem;
  }
}

.logo {
  width: 1.4775rem;
  height: 1.4775rem;
}

@media (width >= 1085px) {
  .logo {
    width: 2.125rem;
    height: 2.125rem;
  }
}

/* Home page */

.home .featured-article .container {
  color: hsl(var(--cl-white));
  text-shadow: 1px 1px 2px hsl(var(--cl-black));
  min-height: 29vh;
  justify-content: end;

  background-image: url(../images/article-images/featured-article-bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsl(var(--cl-bg-footer));
}

@media (768px <= width < 1085px) {
  .home .featured-article .container {
    min-height: 39vh;
    padding: 0 2.25rem;
  }
}

@media (width >= 1085px) {
  .home .featured-article .container {
    min-height: 49vh;
    padding: 0 3.25rem;
  }
}

.home .featured-article-title,
.recent-article-title {
  padding: 0.5rem 0;
}

/* @media (width >= 768px) {
  .featured-article-title {
    padding: .5625rem 0;
  }
} */

/* @media (width >= 768px) {
  .recent-article-title {
    padding: .875rem 0 .5625rem;
  }
} */

.home .featured-article-lead {
  max-width: 37.5rem;
  padding-bottom: 1.625rem;
}

@media (768px <= width < 1085px) {
  .home .featured-article-lead {
    padding-bottom: 2.625rem;
  }
}

@media (width >= 1085px) {
  .home .featured-article-lead {
    padding-bottom: 3.75rem;
  }
}

.featured-article-date,
.recent-article-date {
  order: -1;
}

.recent-articles .container {
  gap: 2.625rem;
}

@media (width >= 670px) {
  .recent-articles .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    justify-content: center;
    gap: 1.25rem;
  }
}

@media (width >= 1085px) {
  .recent-articles .container {
    gap: 1.625rem;
  }
}

.home .recent-articles .container {
  padding: 2.125rem 1.25rem 3.5rem;
}

@media (width >= 670px) {
  .home .recent-articles .container {
    padding: 2.125rem 2.25rem 3.5rem;
  }
}

@media (width >= 1085px) {
  .home .recent-articles .container {
    padding: 3.25rem;
  }
}

.recent-articles article {
  display: flex;
  flex-direction: column;
}

.recent-article-img {
  margin-bottom: 0.875rem;
  order: -2;
  height: 14.5rem;
}

/*
.view-more-btn {
  background: none;
  border: none;
  border-bottom: 1px solid hsl(var(--cl-black));
  color: hsl(var(--cl-black));
  font-weight: 700;
  display: block;
  margin: 0 auto;
  padding: 0;
  text-transform: capitalize;
  cursor: pointer;
} */

/* Footer */

footer {
  background-color: hsl(var(--cl-bg-footer));
  padding: 2.25rem 0;
}

footer .container {
  justify-content: center;
  align-items: center;
}

/* Post / About page */

.post,
.about {
  background-color: hsl(var(--cl-article-body), 2%);
}

.post .featured-article .container {
  padding: 2rem 1.25rem 3.125rem;
}

@media (768px <= width < 1085px) {
  .post .featured-article .container {
    padding: 2.5rem 3rem 3.125rem;
  }
}

@media (width >= 1085px) {
  .post .featured-article .container {
    padding: 4.5rem 7.5rem;
  }
}

.post .featured-article-title {
  margin: 1rem 0;
}

@media (768px <= width < 1085px) {
  .post .featured-article-title {
    margin: 1.25rem 0 1.375rem;
  }
}

@media (width >= 1085px) {
  .post .featured-article-title {
    margin: 1.5rem 0 1.75rem;
  }
}

.post .featured-article-img {
  margin: 2.25rem auto;
}

.post .featured-article-body h3,
.post .featured-article-body p:not(:last-child),
.about .featured-article-body h3,
.about .featured-article-body p:not(:last-child) {
  margin-bottom: 1rem;
}

.recent-articles-title {
  text-align: center;
}

.post .recent-articles .container,
.about .recent-articles .container {
  padding: 1.75rem 1.25rem 3.5rem;
}

@media (width >= 670px) {
  .post .recent-articles .container,
  .about .recent-articles .container {
    padding: 1.75rem 2.5rem 3.125rem;
  }
}

@media (width >= 1085px) {
  .post .recent-articles .container,
  .about .recent-articles .container {
    padding: 1.75rem 3.25rem 3.125rem;
  }
}

.about .featured-article .container {
  margin: 0 auto 2.875rem;
}

.about-article-profile-picture {
  width: 100%;
  max-width: 11.375rem;
  margin: 1.625rem 0;
  border-radius: 50%;
}

.about-article {
  display: flex;
  flex-direction: column;
}

.about-article-hero {
  margin-bottom: 3.125rem;
}

.about-article .featured-article-title {
  margin-bottom: 1rem;
}
