/* ------------ CUSTOM PROPERTIES ------------- */

:root {
  /* Colors */
  --cl-black: 0, 0%, 5%;
  --cl-white: 0 0% 100%;
  --cl-bg-recent-articles: 0, 0%, 98%;
  --cl-nav-btn: 0, 0%, 4%;
  --cl-article-title: 0, 0%, 8%;
  --cl-article-body: 0, 0%, 31%;
  --cl-page-title: 0, 0%, 93%;
  --cl-copyright: 0, 0%, 84%;
  --cl-bg-footer: 0, 0%, 13%;

  /* Font families */
  --ff-roboto: "Roboto", sans-serif;
  --ff-source-sans-pro: "Source Sans Pro", sans-serif;
}

/* RESET */
/* CSS Reset https://andy-bell.co.uk/a-modern-css-reset/ */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Set up body */

body {
  min-height: 100vh;
  line-height: 1.5;
  color: hsl(var(--cl-black));
  font-family: var(--ff-source-sans-pro);
  font-weight: 400;
  position: relative;
}

/* Make images easier to work with */

img {
  width: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
  filter: grayscale(35%);
}

/* ---------------- UTILITY CLASSES ------------------*/

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1.25rem;
  max-width: 75rem;

  display: flex;
  flex-direction: column;
}

.uppercase {
  text-transform: uppercase;
}

.rounded {
  border-radius: 0.25rem;
}

/* ----------------- TYPOGRAPHY ------------------- */

/* Home page */

h1,
h2,
.page-title {
  line-height: 1.08;
}

h1 {
  font-family: var(--ff-roboto);
  font-size: 0.875rem;
}

@media (width <= 340px) {
  h1 {
    font-size: 0.75rem;
  }
}

@media (768px <= width < 1085px) {
  h1 {
    font-size: 1rem;
  }
}

@media (width >= 1085px) {
  h1 {
    font-size: 1.25rem;
  }
}

h2 {
  color: hsl(var(--cl-article-title));
  font-size: 1.5rem;
  font-weight: 700;
}

@media (768px <= width < 1085px) {
  .post .featured-article h2,
  .contacts h2 {
    font-size: 1.875rem;
  }
}

@media (width >= 1085px) {
  .post .featured-article h2,
  .contacts h2 {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1rem;
  font-weight: 700;
}

.featured-article-date,
.page-title,
.copyright {
  font-size: 0.75rem;
}

@media (768px <= width < 1085px) {
  .featured-article-date {
    font-size: 0.875rem;
  }
}

@media (width >= 1085px) {
  .featured-article-date {
    font-size: 1rem;
  }
}

.featured-article-lead,
.featured-article-body,
.recent-article-body,
.copyright {
  line-height: 1.25;
}

.recent-article-body {
  color: hsl(var(--cl-article-body));
}

.recent-article-date {
  font-size: 0.875rem;
}

.page-title {
  color: hsl(var(--cl-page-title));
  font-weight: 700;
}

.copyright {
  color: hsl(var(--cl-copyright));
}

/* About page */

.about h2 {
  font-size: 2.1775rem;
}

@media (768px <= width < 1085px) {
  .about h2 {
    font-size: 2.1875rem;
  }
}

@media (width >= 1085px) {
  .about h2 {
    font-size: 2.25rem;
  }
}

/* --------------- NAVIGATION ---------------------- */

/* Mobile */

.burger {
  z-index: 3;
  padding: 0;
  border: 0;
  font-size: 1.875rem;
  color: hsl(var(--cl-black));
  background: transparent;
  cursor: pointer;
}

.burger i:last-child {
  display: none;
}

body.open .burger i:first-child {
  display: none;
}

body.open .burger i:last-child {
  display: block;
  color: hsl(var(--cl-white));
}

@media (width > 560px) {
  .burger {
    display: none;
  }
}

aside {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 45vw;
  height: 100%;
  padding: 3.5rem 1.25rem;
  background: hsl(var(--cl-bg-footer));
  box-shadow: 0 0 20px hsl(var(--cl-bg-footer), 75%);
  translate: 100% 0;
  transition: 0.5s;
}

body.open aside {
  translate: 0;
}

@media (width > 560px) {
  aside {
    display: none;
  }
}

.overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: hsl(var(--cl-bg-footer), 70%);
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(6px);
  transition: 0.3s;
}

body.open .overlay {
  visibility: visible;
  opacity: 1;
}

@media (width > 560px) {
  .overlay {
    display: none;
  }
}

/* Desktop */

nav {
  font-size: 0.75rem;
}

@media (width <= 560px) {
  nav {
    display: none;
  }
}

@media (768px <= width < 1085px) {
  nav {
    font-size: 0.875rem;
  }
}

@media (width >= 1085px) {
  nav {
    font-size: 1rem;
  }
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

@media (width <= 340px) {
  nav ul {
    gap: 1rem;
  }
}

@media (768px <= width < 1085px) {
  nav ul {
    gap: 2rem;
  }
}

@media (width >= 1085px) {
  nav ul {
    gap: 2.5rem;
  }
}

/* ---------------- LINKS ------------------------- */

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

aside a,
nav a {
  font-weight: 600;
}

aside a {
  color: hsl(var(--cl-white));
  font-size: 1.25rem;
}

aside a:hover,
aside a:focus,
aside a:active {
  border-bottom: 1px solid hsl(var(--cl-white));
}

nav a {
  color: hsl(var(--cl-nav-btn));
}

nav a:hover,
nav a:focus,
nav a:active {
  border-bottom: 1px solid hsl(var(--cl-nav-btn));
}

.featured-article a {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.08;
}

@media (width <= 340px) {
  .featured-article a {
    font-size: 1.8125rem;
  }
}

@media (768px <= width < 1085px) {
  .featured-article a {
    font-size: 2.25rem;
  }
}

@media (width >= 1085px) {
  .featured-article a {
    font-size: 2.5rem;
  }
}

.featured-article a:hover,
.featured-article a:focus,
.featured-article a:active {
  font-size: 2.125rem;
}

@media (768px <= width < 1085px) {
  .featured-article a:hover,
  .featured-article a:focus,
  .featured-article a:active {
    font-size: 2.375rem;
  }
}

@media (width >= 1085px) {
  .featured-article a:hover,
  .featured-article a:focus,
  .featured-article a:active {
    font-size: 2.625rem;
  }
}

/* ---------------- LAYOUT -------------------- */

/* Header */

/* https://www.instagram.com/p/Cs4Zi1mAsET/ */

header .container {
  max-width: 100%;
  padding: 1rem 1.5rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (width <= 340px) {
  .header .container {
    padding: 1.0625rem 1.375rem;
  }
}

@media (768px <= width < 1085px) {
  header .container {
    padding: 1.25rem 2rem;
  }
}

@media (width >= 1085px) {
  header .container {
    padding: 1.75rem 3.25rem;
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 0.1875rem;
}

@media (width >= 1085px) {
  .logo-wrapper {
    gap: 0.3125rem;
  }
}

.logo {
  width: 1.4775rem;
  height: 1.4775rem;
}

@media (width <= 340px) {
  .logo {
    width: 1.3125rem;
    height: 1.3125rem;
  }
}

@media (width >= 1085px) {
  .logo {
    width: 2.125rem;
    height: 2.125rem;
  }
}

/* Home page */

.home .featured-article .container {
  color: hsl(var(--cl-white));
  text-shadow: 1px 1px 2px hsl(var(--cl-black));
  min-height: 29vh;
  justify-content: end;

  background-image: url(../images/article-images/featured-article-bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsl(var(--cl-bg-footer));
}

@media (768px <= width < 1085px) {
  .home .featured-article .container {
    min-height: 39vh;
    padding: 0 2.25rem;
  }
}

@media (width >= 1085px) {
  .home .featured-article .container {
    min-height: 49vh;
    padding: 0 3.25rem;
  }
}

.home .featured-article-title,
.recent-article-title {
  padding: 0.5rem 0;
}

@media (width <= 340px) {
  .home .featured-article-title {
    padding: 0.25rem 0;
  }
}

.home .featured-article-lead {
  max-width: 37.5rem;
  padding-bottom: 1.625rem;
}

@media (width <= 340px) {
  .home .featured-article-lead {
    padding-bottom: 1.375rem;
  }
}

@media (768px <= width < 1085px) {
  .home .featured-article-lead {
    padding-bottom: 2.625rem;
  }
}

@media (width >= 1085px) {
  .home .featured-article-lead {
    padding-bottom: 3.75rem;
  }
}

.featured-article-date,
.recent-article-date {
  order: -1;
}

.recent-articles .container {
  gap: 2.625rem;
}

@media (width >= 670px) {
  .recent-articles .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
    justify-content: center;
    gap: 1.25rem;
  }
}

@media (width >= 1085px) {
  .recent-articles .container {
    gap: 1.625rem;
  }
}

.home .recent-articles .container,
.contacts .recent-articles .container {
  padding: 2.125rem 1.25rem 10rem;
}

@media (width >= 670px) {
  .home .recent-articles .container,
  .contacts .recent-articles .container {
    padding: 2.125rem 2.25rem 9.75rem;
  }
}

@media (width >= 1085px) {
  .home .recent-articles .container,
  .contacts .recent-articles .container {
    padding: 3.25rem 3.25rem 9.75rem;
  }
}

.recent-articles article {
  display: flex;
  flex-direction: column;
}

.recent-article-img {
  margin-bottom: 0.875rem;
  order: -2;
  height: 14.5rem;
}

/* ! Will add in future */

/* .view-more-btn {
  background: none;
  border: none;
  border-bottom: 1px solid hsl(var(--cl-black));
  color: hsl(var(--cl-black));
  font-weight: 700;
  display: block;
  margin: 0 auto;
  padding: 0;
  text-transform: capitalize;
  cursor: pointer;
} */

/* Footer */

/* https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */

footer {
  background-color: hsl(var(--cl-bg-footer));
  padding: 2.25rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer .container {
  justify-content: center;
  align-items: center;
}

/* Post / About page */

.post,
.about,
.contacts {
  background-color: hsl(var(--cl-article-body), 2%);
}

.post .featured-article .container {
  padding: 2rem 1.25rem 3.125rem;
}

@media (768px <= width < 1085px) {
  .post .featured-article .container {
    padding: 2.5rem 3rem 3.125rem;
  }
}

@media (width >= 1085px) {
  .post .featured-article .container {
    padding: 4.5rem 3.25rem;
  }
}

.post .featured-article-title {
  margin: 1rem 0;
}

@media (768px <= width < 1085px) {
  .post .featured-article-title {
    margin: 1.25rem 0 1.375rem;
  }
}

@media (width >= 1085px) {
  .post .featured-article-title {
    margin: 1.5rem 0 1.75rem;
  }
}

.post .featured-article-img {
  margin: 2.25rem auto;
}

@media (768px <= width < 1085px) {
  .post .featured-article-img {
    height: 45vw;
  }
}

@media (width >= 1085px) {
  .post .featured-article-img {
    height: 35vw;
  }
}

.post .featured-article-body h3,
.post .featured-article-body p:not(:last-child),
.about .featured-article-body h3,
.about .featured-article-body p:not(:last-child) {
  margin-bottom: 1rem;
}

@media (768px <= width < 1085px) {
  .post .featured-article-body {
    padding: 0 2.75rem;
  }
}

@media (width >= 1085px) {
  .post .featured-article-body {
    padding: 0 4.25rem;
  }
}

.recent-articles-title {
  text-align: center;
}

.post .recent-articles .container,
.about .recent-articles .container {
  padding: 1.75rem 1.25rem 10rem;
}

@media (width >= 670px) {
  .post .recent-articles .container,
  .about .recent-articles .container {
    padding: 1.75rem 2.5rem 9.75rem;
  }
}

@media (width >= 1085px) {
  .post .recent-articles .container,
  .about .recent-articles .container {
    padding: 1.75rem 3.25rem 9.75rem;
  }
}

/* About page */

.about .featured-article .container {
  margin: 0 auto 2.875rem;
}

@media (width >= 768px) {
  .about .featured-article .container {
    padding: 0;
    margin: 0 auto 3.125rem;
  }
}

.about-article-profile-picture {
  width: 100%;
  max-width: 11.375rem;
  margin: 1.625rem 0;
  border-radius: 50%;
  filter: grayscale(0%);
}

@media (width >= 768px) {
  .about-article-profile-picture {
    margin: 0;
  }
}

.about-article {
  display: flex;
  flex-direction: column;
}

@media (width >= 768px) {
  .about-article {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
}

@media (768px <= width < 1085px) {
  .about-article {
    padding: 3.75rem 2.125rem 2.625rem;
  }
}

@media (width >= 1085px) {
  .about-article {
    padding: 5.625rem 3.25rem 4rem;
  }
}

.about-article-hero {
  margin-bottom: 3.125rem;
}

@media (width >= 768px) {
  .about-article-hero {
    margin-bottom: 0;
  }
}

.about .featured-article-title {
  margin-bottom: 1rem;
}

@media (768px <= width < 1085px) {
  .about .featured-article-body {
    padding: 0 3.5rem;
  }
}

@media (width >= 1085px) {
  .about .featured-article-body {
    padding: 0 7.5rem;
  }
}

/* Contacts page */

/* https://css-tricks.com/zooming-background-images/ */

.contacts .recent-articles-title {
  padding-top: 1em;
}

.contact {
  height: 50vh;
  border: 1px solid hsl(var(--cl-bg-footer));
  overflow: hidden;
}

.contact div {
  width: 100%;
  height: 100%;
  color: hsl(var(--cl-copyright));
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 1px 1px 1px hsl(var(--cl-article-title));

  display: flex;
  justify-content: center;
  align-items: end;
  padding: 1rem;

  background-position: center;
  background-size: cover;
  background-color: hsl(var(--cl-bg-footer));
  filter: grayscale(55%);

  transition: 0.7s;
}

.contact:hover div,
.contact:focus div,
.contact:active div {
  transform: scale(1.2);
}

.contact div::before {
  content: "";
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsl(var(--cl-bg-footer), 75%);
}

.contact:hover div::before,
.contact:focus div::before,
.contact:active div::before {
  display: block;
}

.github {
  background-image: url(../images/contacts-images/github.jpg);
}

.linkedin {
  background-image: url(../images/contacts-images/linkedin.jpg);
}

.instagram {
  background-image: url(../images/contacts-images/instagram.jpg);
}
