/* ------------ CUSTOM PROPERTIES ------------- */

:root {
  /* Colors */
  --cl-black: 0, 0%, 5%;
  --cl-white: 0 0% 100%;
  --cl-nav-btn: 0, 0%, 4%;
  --cl-article-title: 0, 0%, 8%;
  --cl-article-body: 0, 0%, 31%;
  --cl-page-title: 0, 0%, 93%;
  --cl-copyright: 0, 0%, 84%;

  /* Font families */
  --ff-roboto: "Roboto", sans-serif;
  --ff-source-sans-pro: "Source Sans Pro", sans-serif;
}

/* RESET */
/* CSS Reset https://andy-bell.co.uk/a-modern-css-reset/ */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Set up body */

body {
  min-height: 100vh;
  line-height: 1.5;
  color: hsl(var(--cl-black));
  background-color: hsl(var(--cl-white));
  font-family: var(--ff-source-sans-pro);
  font-weight: 400;
}

/* Make images easier to work with */

img {
  max-width: 100%;
  display: block;
}

/* ---------------- UTILITY CLASSES ------------------*/

.container {
  width: 100%;
  max-width: 25.875rem;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

/* ----------------- TYPOGRAPHY ------------------- */

h1,
h2,
.page-title {
  line-height: 1.08;
}

h1 {
  font-family: var(--ff-roboto);
  font-size: 0.875rem;
}

h2 {
  color: hsl(var(--cl-article-title));
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
}

.featured-article-date,
.page-title,
.copyright {
  font-size: 0.75rem;
}

.recent-article-body {
  color: hsl(var(--cl-article-body));
  line-height: 1.25;
}

.page-title {
  color: hsl(var(--cl-page-title));
  font-weight: 700;
}

.copyright {
  color: hsl(var(--cl-copyright));
  line-height: 1.25;
}

/* --------------- NAVIGATION ---------------------- */

nav {
  font-size: 0.75rem;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

/* ---------------- LINKS ------------------------- */

/* a {
  color: inherit;
  text-decoration: none;
}

.nav-btn {
  font-weight: 600;
  color: hsl(var(--cl-nav-btn));
} */

/* Layout */

/* 

header .container {
  border: 1px solid red;
  padding: 18px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 0.1875em;
}

.logo {
  width: 1.4775em;
  height: 1.4775em;
} */
